version = 0.1

[default.deploy.parameters]
stack_name = "job-alert-bot"
resolve_s3 = true
s3_prefix = "job-alert-bot"
region = "us-east-1"
capabilities = "CAPABILITY_IAM"
confirm_changeset = true
parameter_overrides = "FeedUrls=\"YOUR_FEED_URL_HERE\" IncludeKeywords=\"data scientist,machine learning, data engineer\" ExcludeKeywords=\"senior,staff,principal\" NotificationEmail=\"your@email.com\""
